@Model IEnumerable<ExampleBasicMVC.Models.Persona>

    <h2>PERSONAS</h2>
    <div>
           
       
        @{
            var grid = new WebGrid(Model, defaultSort:"Nombres");

        }
        @grid.GetHtml(columns: grid.Columns(
                    grid.Column("Cedula", header: "Cedula"),

                         grid.Column("Nombres", header: "Nombres"),

                         grid.Column("Direccion", header: "Direccion"),

                         grid.Column("Telefono", header: "Telefono")
                    ))
    </div>
